/* src/styles/equalizer.css */
.equalizer-container {
  display: flex;
  justify-content: center;
  align-items: flex-end; /* items-end */
  margin-top: 0.75rem; /* my-3 */
  margin-bottom: 0.75rem;
  width: 100%;
  height: 4rem; /* h-16 */
}

.equalizer-svg-icon {
  color: var(--flo-accent-emerald); /* text-emerald-500 */
}