.app-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 70px;
  padding: 0 20px;
  background-color: #fff;
  position: relative;
  z-index: 100;
}

/* 왼쪽 로고 그룹 */
.header-left {
  display: flex;
  align-items: center;
}

.header-logo-link {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: inherit;
 
}

.header-logo-icon {
  width: 28px;
  height: 28px;
  margin-right: 8px;
}

.header-logo-image {
  width: 36px;
  height: auto;
  margin-right: 8px;
}

.header-app-title {
  font-size: 1.5rem;
  font-weight: bold;
  margin: 0;
  color:#640b8d;
}

.header-app-title:hover {
  color:#0d9488;
}

/* 중앙 정렬: 절대 위치 + transform */
.header-center {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  align-items: center;
  z-index: 1;
}

/* 오른쪽 로그인/회원가입 */
.header-right {
  display: flex;
  align-items: center;
  gap: 10px;
}

/* 로그인, 로그아웃 버튼 공통 스타일 */
.header-button {
  padding: 0.5rem 1rem;
  border-radius: 9999px;
  font-weight: 600;
  cursor: pointer;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 2.5rem;
  box-sizing: border-box;
  white-space: nowrap;
  text-decoration: none;
}

.header-button-login {
  background-color: var(--flo-accent-blue);
  color: white;
}

.header-button-login:hover {
  background-color: var(--flo-accent-blue-hover);
}


.header-button-signup {
  background-color: #640b8d;
  color: white;
}



.header-button-signup:hover {
  background-color: #0d9488;
}
